.progja-vania {
  background-color: #ccf5ca;
  width: 1536px;
  min-height: auto;
  position: relative;
}

.progja-vania .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1536px;
  height: 4800px;
  background-color: #ccf5ca;
}

.progja-vania .rectangle-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1536px;
  height: 151px;
  background-color: #bdb76b;
}

.montserrat-Bold {
  font-family: "Montserrat-Bold", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.progja-vania .text-wrapper {
  position: absolute;
  top: 39px;
  left: 464px;
  width: 607px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .div {
  position: absolute;
  top: 237px;
  left: 368px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-2 {
  position: absolute;
  top: 956px;
  left: 369px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-3 {
  position: absolute;
  top: 2788px;
  left: 235px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-4 {
  position: absolute;
  top: 3814px;
  left: 534px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-2 {
  position: absolute;
  top: 4312px;
  left: 229px;
  width: 624px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .rectangle-3 {
  position: absolute;
  top: 4064px;
  left: 744px;
  width: 624px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .rectangle-4 {
  position: absolute;
  top: 3923px;
  left: 229px;
  width: 624px;
  height: 93px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .p {
  position: absolute;
  top: 4368px;
  left: 246px;
  width: 590px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-5 {
  position: absolute;
  top: 4120px;
  left: 761px;
  width: 590px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-6 {
  position: absolute;
  top: 3955px;
  left: 302px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-5 {
  position: absolute;
  top: 2903px;
  left: 192px;
  width: 708px;
  height: 87px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .rectangle-6 {
  position: absolute;
  top: 3052px;
  left: 192px;
  width: 708px;
  height: 176px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .rectangle-7 {
  position: absolute;
  top: 3311px;
  left: 673px;
  width: 709px;
  height: 142px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .rectangle-8 {
  position: absolute;
  top: 3508px;
  left: 192px;
  width: 707px;
  height: 116px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .rectangle-9 {
  position: absolute;
  top: 2521px;
  left: 180px;
  width: 1178px;
  height: 117px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .text-wrapper-7 {
  position: absolute;
  top: 2932px;
  left: 213px;
  width: 665px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-8 {
  position: absolute;
  top: 3082px;
  left: 214px;
  width: 664px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-9 {
  position: absolute;
  top: 3353px;
  left: 717px;
  width: 620px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-10 {
  position: absolute;
  top: 3537px;
  left: 213px;
  width: 665px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-11 {
  position: absolute;
  top: 2551px;
  left: 179px;
  width: 1180px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-10 {
  position: absolute;
  top: 1076px;
  left: 179px;
  width: 1178px;
  height: 233px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .text-wrapper-12 {
  position: absolute;
  top: 1164px;
  left: 199px;
  width: 665px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .ellipse {
  position: absolute;
  top: 1037px;
  left: 139px;
  width: 76px;
  height: 76px;
  background-color: #bdb76b;
  border-radius: 38px;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.progja-vania .text-wrapper-13 {
  position: absolute;
  top: 1016px;
  left: 161px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-11 {
  position: absolute;
  top: 1349px;
  left: 179px;
  width: 1178px;
  height: 233px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .text-wrapper-14 {
  position: absolute;
  top: 1437px;
  left: 203px;
  width: 665px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .ellipse-2 {
  top: 1309px;
  left: 139px;
  position: absolute;
  width: 76px;
  height: 76px;
  background-color: #bdb76b;
  border-radius: 38px;
}

.progja-vania .text-wrapper-15 {
  top: 1289px;
  left: 155px;
  position: absolute;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-12 {
  position: absolute;
  top: 1622px;
  left: 179px;
  width: 1178px;
  height: 233px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .text-wrapper-16 {
  position: absolute;
  top: 1695px;
  left: 203px;
  width: 665px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .ellipse-3 {
  top: 1582px;
  left: 139px;
  position: absolute;
  width: 76px;
  height: 76px;
  background-color: #bdb76b;
  border-radius: 38px;
}

.progja-vania .text-wrapper-17 {
  top: 1562px;
  left: 157px;
  position: absolute;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-13 {
  position: absolute;
  top: 1895px;
  left: 179px;
  width: 1178px;
  height: 233px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .text-wrapper-18 {
  position: absolute;
  top: 1997px;
  left: 203px;
  width: 665px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .ellipse-4 {
  top: 1855px;
  left: 139px;
  position: absolute;
  width: 76px;
  height: 76px;
  background-color: #bdb76b;
  border-radius: 38px;
}

.progja-vania .text-wrapper-19 {
  top: 1835px;
  left: 152px;
  position: absolute;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-14 {
  position: absolute;
  top: 2168px;
  left: 179px;
  width: 1178px;
  height: 233px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 1px 6px 1px #0000001a;
}

.progja-vania .text-wrapper-20 {
  position: absolute;
  top: 2244px;
  left: 203px;
  width: 665px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .ellipse-5 {
  top: 2128px;
  left: 139px;
  position: absolute;
  width: 76px;
  height: 76px;
  background-color: #bdb76b;
  border-radius: 38px;
}

.progja-vania .text-wrapper-21 {
  top: 2108px;
  left: 155px;
  position: absolute;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .ellipse-6 {
  top: 2473px;
  left: 140px;
  position: absolute;
  width: 76px;
  height: 76px;
  background-color: #bdb76b;
  border-radius: 38px;
}

.progja-vania .text-wrapper-22 {
  top: 2461px;
  left: 153px;
  position: absolute;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .ellipse-7 {
  top: 2863px;
  left: 154px;
  position: absolute;
  width: 76px;
  height: 76px;
  background-color: #bdb76b;
  border-radius: 38px;
}

.progja-vania .text-wrapper-23 {
  top: 2851px;
  left: 167px;
  position: absolute;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-15 {
  top: 3002px;
  left: 154px;
  width: 344px;
  height: 80px;
  position: absolute;
  background-color: #bdb76b;
  border-radius: 20px;
}

.progja-vania .text-wrapper-24 {
  position: absolute;
  top: 3003px;
  left: 162px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-16 {
  top: 3271px;
  left: 635px;
  width: 434px;
  height: 82px;
  position: absolute;
  background-color: #bdb76b;
  border-radius: 20px;
}

.progja-vania .text-wrapper-25 {
  position: absolute;
  top: 3272px;
  left: 643px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .rectangle-17 {
  top: 3455px;
  left: 154px;
  width: 377px;
  height: 82px;
  position: absolute;
  background-color: #bdb76b;
  border-radius: 20px;
}

.progja-vania .text-wrapper-26 {
  position: absolute;
  top: 3456px;
  left: 162px;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .element {
  position: absolute;
  top: 3893px;
  left: 199px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  object-fit: cover;
}

.progja-vania .img {
  position: absolute;
  top: 4282px;
  left: 199px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  object-fit: cover;
}

.progja-vania .element-2 {
  position: absolute;
  top: 4034px;
  left: 714px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  object-fit: cover;
}

.progja-vania .img-2 {
  position: absolute;
  top: 311px;
  left: 113px;
  width: 204px;
  height: 102px;
  object-fit: cover;
}

.progja-vania .img-3 {
  position: absolute;
  top: 413px;
  left: 113px;
  width: 204px;
  height: 423px;
  aspect-ratio: 0.48;
}

.progja-vania .text-wrapper-27 {
  position: absolute;
  top: 367px;
  left: 134px;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:#000000;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-28 {
  top: 339px;
  left: 112px;
  width: 205px;
  position: absolute;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .bertindak-sebagai {
  position: absolute;
  top: 505px;
  left: 131px;
  width: 168px;
  text-shadow: 0px 0px 4px #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .img-4 {
  position: absolute;
  top: 413px;
  left: 390px;
  width: 204px;
  height: 423px;
  aspect-ratio: 0.48;
}

.progja-vania .img-5 {
  position: absolute;
  top: 311px;
  left: 390px;
  width: 204px;
  height: 102px;
  aspect-ratio: 2;
}

.progja-vania .text-wrapper-29 {
  position: absolute;
  top: 363px;
  left: 410px;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:#000000;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-30 {
  top: 341px;
  left: 389px;
  width: 204px;
  position: absolute;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-31 {
  position: absolute;
  top: 505px;
  left: 408px;
  width: 168px;
  text-shadow: 0px 0px 4px #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .img-6 {
  position: absolute;
  top: 413px;
  left: 666px;
  width: 204px;
  height: 423px;
  aspect-ratio: 0.48;
}

.progja-vania .img-7 {
  position: absolute;
  top: 311px;
  left: 666px;
  width: 204px;
  height: 102px;
  aspect-ratio: 2;
}

.progja-vania .text-wrapper-32 {
  position: absolute;
  top: 360px;
  left: 665px;
  width: 204px;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:#000000;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-33 {
  position: absolute;
  top: 332px;
  left: 665px;
  width: 204px;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-34 {
  position: absolute;
  top: 519px;
  left: 684px;
  width: 168px;
  text-shadow: 0px 0px 4px #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .dsc {
  position: absolute;
  top: 413px;
  left: 942px;
  width: 204px;
  height: 423px;
  aspect-ratio: 0.48;
}

.progja-vania .img-8 {
  position: absolute;
  top: 311px;
  left: 942px;
  width: 204px;
  height: 102px;
}

.progja-vania .text-wrapper-35 {
  left: 1006px;
  position: absolute;
  top: 367px;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:#000000;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-36 {
  position: absolute;
  top: 339px;
  left: 941px;
  width: 204px;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-37 {
  position: absolute;
  top: 505px;
  left: 960px;
  width: 168px;
  text-shadow: 0px 0px 4px #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .img-9 {
  position: absolute;
  top: 311px;
  left: 1219px;
  width: 204px;
  height: 102px;
  aspect-ratio: 0.5;
}

.progja-vania .img-10 {
  position: absolute;
  top: 413px;
  left: 1219px;
  width: 204px;
  height: 423px;
  aspect-ratio: 0.48;
}

.progja-vania .text-wrapper-38 {
  left: 1269px;
  width: 103px;
  position: absolute;
  top: 367px;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:#000000;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .text-wrapper-39 {
  position: absolute;
  top: 339px;
  left: 1218px;
  width: 205px;
  text-shadow: 0px 0px 7.5px #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.progja-vania .berfungsi-sebagai {
  position: absolute;
  top: 519px;
  left: 1237px;
  width: 168px;
  text-shadow: 0px 0px 4px #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}